html,
body {
    max-width: 110%;
    width: auto !important;
    overflow-x: hidden !important;
}

.modal-open {
    width: 100vw !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: .0625rem solid #e7eaf3 !important;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
}

.select2-selection__arrow {
    top: 6px !important;
}

.select2 {
    width: 100% !important;
}

.f-bold {
    font-weight: bold;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.table-click {
    cursor: pointer;
}

.table-click:hover {
    color: #1e90ff !important;
}

.viewEmployeeCustomField {
    background-color: transparent !important;
    border: none !important;
}

.textareaCustom {
    resize: none !important;
    height: auto !important;
    width: 15rem !important;
    overflow: hidden;
}