<!-- Header -->
<header class="navbar navbar-expand-lg navbar-spacer-y mb-3">
  <div class="container">
    <div class="navbar-nav-wrap">
      <div class="navbar-brand-wrapper">
        <!-- Logo -->
        <a class="navbar-brand" href="../index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="../assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <!-- Toggle -->
      <button type="button" class="navbar-toggler btn btn-ghost-secondary rounded-circle ml-auto" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenu" data-toggle="collapse" data-target="#navbarNavMenu">
        <i class="tio-menu-hamburger"></i>
      </button>
      <!-- End Toggle -->

      <nav class="collapse navbar-collapse" id="navbarNavMenu">
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>

          <!-- Dropdown -->
          <li class="dropdown">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="dropdownSubMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>

            <div class="dropdown-menu" aria-labelledby="dropdownSubMenu" style="min-width: 230px;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- End Dropdown -->

          <!-- Nav Item -->
          <li class="nav-item">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="megaMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega menu</a>

            <div class="navbar-nav-mega-menu dropdown-menu" aria-labelledby="megaMenu">
              <div class="row navbar-nav-mega-menu-body">
                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">One</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Two</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Three</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                </div>

                <div class="col-lg-3">
                  <span class="navbar-nav-mega-menu-title h5">Four</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>
              </div>
            </div>
          </li>
          <!-- End Nav Item -->

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <!-- End Navbar -->
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Header -->
<header class="navbar navbar-expand-lg navbar-spacer-y navbar-light mb-3">
  <div class="container">
    <div class="navbar-nav-wrap">
      <div class="navbar-brand-wrapper">
        <!-- Logo -->
        <a class="navbar-brand" href="../index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="../assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <!-- Toggle -->
      <button type="button" class="navbar-toggler btn btn-ghost-secondary rounded-circle ml-auto" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenuLightEg" data-toggle="collapse" data-target="#navbarNavMenuLightEg">
        <i class="tio-menu-hamburger"></i>
      </button>
      <!-- End Toggle -->

      <nav class="collapse navbar-collapse" id="navbarNavMenuLightEg">
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>

          <!-- Dropdown -->
          <li class="dropdown">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="dropdownSubMenuLightEg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>

            <div class="dropdown-menu" aria-labelledby="dropdownSubMenuLightEg" style="min-width: 230px;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- End Dropdown -->

          <!-- Nav Item -->
          <li class="nav-item">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="megaMenuLightEg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega menu</a>

            <div class="navbar-nav-mega-menu dropdown-menu" aria-labelledby="megaMenuLightEg">
              <div class="row navbar-nav-mega-menu-body">
                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">One</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Two</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Three</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                </div>

                <div class="col-lg-3">
                  <span class="navbar-nav-mega-menu-title h5">Four</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>
              </div>
            </div>
          </li>
          <!-- End Nav Item -->

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <!-- End Navbar -->
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Header -->
<header class="navbar navbar-expand-lg navbar-spacer-y navbar-dark">
  <div class="container">
    <div class="navbar-nav-wrap">
      <div class="navbar-brand-wrapper">
        <!-- Logo -->
        <a class="navbar-brand" href="../index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="../assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <!-- Toggle -->
      <button type="button" class="navbar-toggler btn btn-ghost-secondary rounded-circle ml-auto" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenuDarkEg" data-toggle="collapse" data-target="#navbarNavMenuDarkEg">
        <i class="tio-menu-hamburger"></i>
      </button>
      <!-- End Toggle -->

      <nav class="collapse navbar-collapse" id="navbarNavMenuDarkEg">
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>

          <!-- Dropdown -->
          <li class="dropdown">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="dropdownSubMenuDarkEg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>

            <div class="dropdown-menu" aria-labelledby="dropdownSubMenuDarkEg" style="min-width: 230px;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- End Dropdown -->

          <!-- Nav Item -->
          <li class="nav-item">
            <a class="nav-link nav-link-toggle" href="javascript:;" id="megaMenuDarkEg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega menu</a>

            <div class="navbar-nav-mega-menu dropdown-menu" aria-labelledby="megaMenuDarkEg">
              <div class="row navbar-nav-mega-menu-body">
                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">One</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Two</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>

                <div class="col-lg-3 mb-3 mb-lg-0">
                  <span class="navbar-nav-mega-menu-title h5">Three</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                </div>

                <div class="col-lg-3">
                  <span class="navbar-nav-mega-menu-title h5">Four</span>

                  <a class="dropdown-item" href="#">One</a>
                  <a class="dropdown-item" href="#">Two</a>
                  <a class="dropdown-item" href="#">Three</a>
                </div>
              </div>
            </div>
          </li>
          <!-- End Nav Item -->

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <!-- End Navbar -->
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->